.modal-whole {
  width: 100%;
}

.modal-body {
  background-image: url("../assets/bg-modal.png");
  background-size: contain;
  background-position: "center center";
  background-repeat: repeat;
  font-family: "Gaegu";
  padding: 6%;
}
.modal-header {
  background-image: url("../assets/bg-modal-header.png");
  background-size: cover;
  padding: 0% 8%;
}

.modal-footer {
  background-image: url("../assets/bg-modal-header.png");
  background-size: cover;
  padding: 3%;
}

.projectModalContentCaption {
  font-size: larger;
}

.images {
  width: 150%;
}

.organization {
  background-color: none;
  border-radius: 50px;
  text-align: center;
}

.position {
  font-size: x-large;
  margin-top: 5%;
  color: blueviolet;
}

.duration {
  font-size: medium;
  font-style: italic;
  margin-top: -4%;
}

.caption {
  font-size: medium;
  white-space: pre-line;
  color: rgb(58, 58, 58);
}

/* Accordion */

.accordion-header > button {
  width: 100% !important;
  border: 3px solid transparent;
  border-radius: 20px;
  padding: 2%;
  margin: 1%;
  background-color: transparent;
}

.accordion-header > button:hover {
  background-image: url("../assets/bg-modal-header.png");
  color: #991dcf;
}

.carousel-indicators > button {
  width: 15px;
  height: 8px;
  border-radius: 100px;
  border: 1px solid black;
  background-color: antiquewhite;
  margin-left: 2%;
}

/* Projects */

.technologies {
  padding: 0.2% 2%;
  background-color: rgb(242, 242, 242);
  /* border: 1.7px solid rgb(220, 220, 220); */
  border: 1.7px solid #e5e5e3;
  border-radius: 10px;
  text-align: center;
}

/* CELLPHONES */
@media only screen and (max-width: 542px) {
  .projectModalContentCaption {
    font-size: small;
  }
}
